<head>
	<link rel="stylesheet" href="/bootstrap-4.0.0-alpha.6-dist/css/bootstrap.css" />
	<link rel="stylesheet" href="/CSS/main.css" />
	<script src="/JS/main.js"></script>
	<title>HOME :: ALBUMS :: ALBUM</title>
</head>

<body>

	<%- include('navbar/navbar') %>
		<p class="page-title">Album</p>
		<div class="artist-container">
			<div>
				<img src="/images/<%=pic%>.jpg" height="200" style="margin-right:20px">
			</div>
			<div>
				<h1>
					<%= title%>
				</h1>
				<div> Artist:
					<%= artists[artist -1].name %>
				</div>
				<div> Year:
					<%= year %>
				</div>
			</div>
		</div>
		<%- include('album/list_item') %>

</body>
