<html>

<head>
	<link rel="stylesheet" href="bootstrap-4.0.0-alpha.6-dist/css/bootstrap.css" />
	<link rel="stylesheet" href="CSS/main.css" />
	<script src="JS/main.js"></script>
</head>

<body>
	<div class="container-fluid">
		<%- include('navbar/navbar') %>
			<p class="page-title">Albums</p>
			<div class="flex-container">
				<% for (var i = 0; i < albums.length; i++) { %>
					<a class="box" href="/album/<%= albums[i].id%>">
						<img src="images/holding.png" height="200" width="200">
						<div id="artist">
							<%= albums[i].title %>
						</div>
						<% for (var j = 0; j < artists.length; j++) { %>
							<% if (artists[j].id === albums[i].artist_id) {%>
								<div href="/artist/:/artist[j].id">
									Artist:
									<%= artists[j].name %>
								</div>
								<% } %>
									<% } %>
										<div>Year:
											<%= albums[i].year %>
										</div>
					</a>
					<% } %>
			</div>
	</div>
</body>

</html>
