<head>
	<link rel="stylesheet" href="/bootstrap-4.0.0-alpha.6-dist/css/bootstrap.css" />
	<link rel="stylesheet" href="/CSS/main.css" />
	<script src="/JS/main.js"></script>
	<title>HOME :: ALBUMS :: ALBUM</title>
</head>

<body>
	<div class="container-fluid">
		<%- include('navbar/navbar') %>
			<p class="page-title">Album</p>
			<div class="artist-container">
				<div>
					<img src="/images/<%=artist%>.<%=id -1%>.jpg" height="200" style="margin-right:20px">
				</div>
				<div>
					<h1>
						<%= title%>
					</h1>
					<div> Artist:
						<%= artists[artist -1].name %>
					</div>
					<div> Year:
						<%= year %>
					</div>
				</div>
			</div>
			<div class="song-container">
				<div class="song-heading">
					<div class=""></div>
					<div class="col-4 offset-3">Song</div>
					<div class="col-2">Length</div>
				</div>
				<% songs.forEach(function(songs){ %>
					<% if (songs.album_id == id) { %>
						<div class="song">
							<div class="col-4 offset-3">
								<%= songs.title %>
							</div>
							<% var minutes = Math.floor(songs.length/60) %>
								<% var seconds =(( "0" + (songs.length % 60)).slice(-2)) %>
									<div class="col-2">
										<%= minutes + ":" + seconds %>
									</div>
						</div>
						<% } %>
							<% }) %>
			</div>
	</div>
</body>
